body {	
background-image: url('https://lh4.googleusercontent.com/-t1PnmDGdi4Y/Uuxj9MIk1SI/AAAAAAAAADE/xt1hRNSDSHs/w478-h720-no/colorful.jpp');


}

p, h2, h3 {
	color:white;
}


h1 {
	color:black;
	font-family: 'Sonsie One', cursive;
	font-size: 45px;
	text-align: right;
	padding: 5rem 10rem 15rem 0rem;
	
	line-height: 100px;
	
}


.me {
	background-image: url("https://scontent-b-sea.xx.fbcdn.net/hphotos-frc3/t1/270488_10150236954770745_5160165_n.jpg") ;
	background-repeat: no-repeat;
	background-size: 1000px 500px;

box-shadow: 10px 5px 10px 5px black;

}



.passion {
	font-family: 'Nunito', sans-serif;
	font-size: 20px;
	letter-spacing: 2px;
	padding:1rem;
	text-align: center;



}



.words {
	background: black;
	text-align: center;
	padding: 5rem;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	


	}

.visual {
	background-color: black;
	padding:1rem;
	padding-top: 2rem;
	margin-top: 1rem;
	text-align: center;
}	

.film {

	background-color: black;
	padding:1rem;
	margin-top: 1rem;
	text-align: center;

	
}

.photoshop {

 background-color: black;
 padding:1rem;
 margin-top: 1rem;
 text-align: center;


}
.major {

	border-bottom: 2px solid white;
background-color: black;
text-align: center;
padding:2rem;
margin: -1rem;
margin-top: 4rem;
box-shadow: 2px 2px 2px 2px yellow;
font-size: 20px;
}

.minor {border-bottom: 2px solid white;
background-color: black;
text-align: center;
padding:2rem;
margin: -1rem;
box-shadow: 2px 2px 2px 2px red;
font-size: 20px;



}

.special {border-bottom: 2px solid white;
background-color: black;
text-align: center;
padding:2rem;
margin: -1rem;
box-shadow: 2px 2px 2px 2px white;
font-size: 20px;


}

h2 {
	background-color: black;
	font-family: 'Nunito', sans-serif;
	font-size: 40px;
	letter-spacing: 3px;
	text-align: center;
	border-bottom: 4px solid white;

	text-align: center;
	padding:2rem;
	

}





