body {
background-image: url('https://lh4.googleusercontent.com/-t1PnmDGdi4Y/Uuxj9MIk1SI/AAAAAAAAADE/xt1hRNSDSHs/w478-h720-no/colorful.jpg');

}

p, h1, h2, h3 {
	color:white;
}



ul li {
display: inline-block;
background-color: blue;
background-repeat: no-repeat;
background-size: 100% 120%;
width: 12rem;
box-shadow: 4px 0 2px white;
position: relative;
overflow: hidden;


}

ul li a {
display: inline-block;
background: blue;
text-decoration: none;
letter-spacing: .40rem;
text-shadow: 4px 4px 4px 5px black;
color: #fff;
width: 10rem;
margin-left:-.5rem;
padding: 1.25rem 2.5rem;

}

